# Ignore node modules
**/node_modules
**/npm-debug.log

# Ignore environment files
.env
**/.env
.env.local

# Ignore Git
.git
.gitignore

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore logs
logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
dist
build
**/coverage
# Ignore frontend tests
frontend/src/**/*.test.js
frontend/src/**/*.spec.js
frontend/src/**/__tests__/

# Ignore backend tests
backend/tests/
backend/**/*.test.js
backend/**/*.spec.js
